@model CafeProject.Models.ItemList


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-6">
        <div>
            <h1 class="title" style="font-size: 2.5em;font-family:Arial;text-align:left;color:dodgerblue">Add New Item</h1>
        </div>

        <div style="border:1px solid #357ebd;font-family:Verdana;margin-top:2%;margin-bottom:6%;width:95%;height:50%;background-color:azure;">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-top:7%;margin-left:3%;margin-bottom:4%">
                        @Html.Label("Item ID", "Item ID", new { @class = "control-label col-sm-4", @Style = "font-weight:bold;text-align:left" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.ItemID, new { @class = "form-control", @id = "ItemID", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-left:3%;margin-bottom:4%">
                        @Html.Label("Item Name", "Item Name", new { @class = "control-label col-sm-4", @Style = "font-weight:bold;text-align:left" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control", @id = "ItemName", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-left:3%;margin-bottom:4%">
                        @Html.Label("Description", "Description", new { @class = "control-label col-sm-4", @Style = "font-weight:bold;text-align:left" })
                        <div class="col-sm-7">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "Description", style = "width:100%;min-height:85px" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-left:3%;margin-bottom:4%">
                        @Html.Label("Unit Price", "Unit Price", new { @class = "control-label col-sm-4", @Style = "font-weight:bold;text-align:left" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control", @id = "UnitPrice", style = "width:100%" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-left:3%;margin-bottom:7%">
                        @Html.Label("Date", "Date", new { @class = "control-label col-sm-4", @Style = "font-weight:bold;text-align:left" })
                        <div class="col-sm-7">
                            @*<div id='Date'></div>*@
                            @Html.TextBoxFor(model => model.AddedDate, new { @class = "form-control", @id = "Date", style = "width:100%" })
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-11" style="margin-left:5%;margin-top:5%;margin-bottom:10%;">
                    <div style="margin-right:6%">
                        <input type="submit" value="Add Item" class="btn btn-primary col-sm-4" style="position:relative;font-size: 14px;text-align:center;background-color:#0026ff;border:0px">
                    </div>

                    <div style="margin-right:6%;">
                        <input type="reset" value="Clear" class="btn btn-primary col-sm-4 pull-right" style="position:relative;font-size: 14px;text-align:center;background-color:#cc0d2e;border:0px">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left:6%;margin-bottom:6%;">
                <b>@Html.ActionLink("Back to List", "Index")</b>
            </div>
        </div>
    </div>
    
    <div class="col-md-6" style="margin-top:6%;margin-right:2%;width:80px;height:20px;">
        <img src="~/Images/istockphoto-505168330-612x612.jpg" alt="image1" style="width:350px;height:260px;margin-bottom:4%;"/>
        <img src="~/Images/kottu-6319363_960_720.jpg" alt="image2" style="width:350px;height:260px;margin-left:350px;"/>
    </div>
}
    


@*<div class="form-group" style="margin-top:5%;margin-bottom:2%">
        @Html.Label("Item ID", "Item ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.Label("Item Name", "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.Label("Unit Price", "Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
        @Html.Label("Date", "Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddedDate, "", new { @class = "text-danger" })
        </div>
    </div>*@
@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Item" class="btn btn-default col-sm-4" style="position:relative;font-size: 14px;text-align:center;color:white;background-color:#0026ff;border:0px" />
        </div>
    </div>*@